name: work-1
on:
  push:
    branches:
      - main
jobs:
  hello1:
    runs-on: ubuntu-latest
    steps:
      - name: sayHello
        run: echo "Hello" 
      - name: sayMyName
        run: echo "${{ github.actor }}"
